<nb-card>
  <nb-card-header>
    Quản lí playlist
  </nb-card-header>

  <nb-card-body>
    <div class="horizontal-form" autocomplete="off" style="padding: 0 15px; margin-top: 15px;">
      <div class="m-form m-form--label-align-right">
        <div class="row align-items-center m--margin-bottom-10">
          <div class="col-xl-12">
            <div class="form-group m-form__group align-items-center">
              <div class="input-group">

                <b style="display: flex; align-items: center; margin-left: -20px;"></b>
                <input nbInput class="search-input" style="margin-left: 10px;width: 100%;" type="text" autoFocus
                  placeholder="ID hoặc tên playlist..." name="Keyword" [(ngModel)]="Keyword">
                <span style="width: 10px"></span>

                <span style="width: 10px"></span>
                <span class="input-group-btn">
                  <button (click)="onSearch()" class="btn btn-outline-info">Tìm <i class="fa fa-search"></i></button>
                  <button (click)="onAddNew(dialogAddPlaylist)" style="margin-left: 20px;" class="btn btn-outline-info">Tạo
                    mới <i class="fa fa-plus"></i></button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng2-smart-table #tablePlaylist class="table-song" [settings]="settings" [source]="source"
      (userRowSelect)="onRowSelect($event);openWithoutBackdropClick(dialog)" (edit)="onOpenEdit($event,dialogEditPlaylist)" (delete)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
  <div class="container col-md-12 row">
    <div class="avatar-detail col-md-4">
      <div class="thumbnail">
        <img *ngIf="data.playlist.thumbnail===''||data.playlist.thumbnail===null"
          src="https://www.loc.gov/static/images/original-format/playlists.png" alt="cover" class="cover" />
        <img *ngIf="data.playlist.thumbnail!==''&&data.playlist.thumbnail!==null" src="{{data.playlist.thumbnail}}"
          alt="cover" class="cover" />
      </div>
      <nb-card class="infor">
        <h4 class="title1">{{data.playlist.name}}</h4>
        <div class="title2">{{data.playlist.owner.nameOwner}}</div>
        <div class="icon-">
          <i class="fa fa-heart likes"> {{data.playlist.totalLike}}</i>         
          <i class="fa fa-headphones likes"> {{data.playlist.totalListen}}</i>
        </div>
        <div>Số bài hát: {{data.playlist.totalSong}}</div>
        <div>Ngày tạo: {{data.playlist.dateCreate}}</div>
        
        <div>Mô tả: </div>
        <textarea rows="5" nbInput fullWidth shape="round" placeholder="Text Area">{{data.playlist.description}}</textarea>
      </nb-card>

    </div>
    <nb-card class="list-song col-md-8">

      <h5>Danh sách bài hát</h5>
      <div class="input-group" style="margin-bottom: 10px;">
        <input nbInput class="search-input" style="margin-right: 10px;width: 100%;" type="text" autoFocus
          placeholder="Nhập ID bài hát muốn thêm vào playlist..." name="Keyword" (change)="IdSongAddChange($event)">
        <button (click)="onAddSongToPlaylist()" class="btn btn-outline-info">Thêm <i class="fa fa-add"></i></button>
      </div>

      <ng2-smart-table class="list-detail-song" [settings]="settingListSong" [source]="sourceListSong"
        (deleteConfirm)="onDeleteSongConfirm($event)" (editConfirm)="onEdit($event)">
      </ng2-smart-table>
    </nb-card>
  </div>
</ng-template>


<ng-template class="col-md-12" #dialogAddPlaylist let-data let-ref="dialogRef">

  <nb-card>
    <h4 class="card-header">Tạo mới Playlist</h4>
    <div class="card-body">
      <form [formGroup]="addPlaylistForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <div>Ảnh bìa</div>
          <div style="margin: 5px 0 5px 0;">
            <img *ngIf="urlPicked !==null && urlPicked !==''" src="{{urlPicked}}" width="100px" height="100px" style="border: 2px solid rgb(0, 0, 0);">
          <img *ngIf="urlPicked ===null || urlPicked ==''" src="https://www.loc.gov/static/images/original-format/playlists.png"
            width="100px" height="100px" style="border: 2px solid rgb(0, 0, 0);">
          </div>
          
          <input type="file" accept="image/*" (change)="handleFileInput($event)"
            formControlName="image" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.image.errors }"
            required>
          <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
  
            <div *ngIf="f.image.errors.required">
              Chọn 1 ảnh
            </div>
  
  
          </div>
  
        </div>

        <div class="form-group">
          <label for="name">Tên playlist</label>
          <input type="name" formControlName="name" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Tên không được bỏ trống</div>
          </div>
        </div>
        <div class="form-group">
          <label for="desciption">Mô tả ngắn</label>
          <textarea type="text" formControlName="desciption" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.desciption.errors }" required minlength="10"></textarea>
          <div *ngIf="submitted && f.desciption.errors" class="invalid-feedback">

            <div *ngIf="f.desciption.errors.required">
              Mô tả không được bỏ trống
            </div>
            <div *ngIf="f.desciption.errors.minlength">
              Mô tả phải trên 10 kí tự
            </div>

          </div>
        </div>
       
        <button [disabled]="loading" class="btn btn-outline-info" style="margin-top: 10px;">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Tạo mới
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </div>
  </nb-card>
</ng-template>


<ng-template class="col-md-12" #dialogEditPlaylist let-data let-ref="dialogRef">

  <nb-card>
    <h4 class="card-header">Tạo mới Playlist</h4>
    <div class="card-body">
      <form [formGroup]="editPlaylistForm" (ngSubmit)="onSubmitEdit()">

        <div class="form-group">
          <div>Ảnh bìa</div>
          <div style="margin: 5px 0 5px 0;">
            <img *ngIf="urlPicked !==null && urlPicked !==''" src="{{urlPicked}}" width="100px" height="100px" style="border: 2px solid rgb(0, 0, 0);">
          <img *ngIf="urlPicked ===null || urlPicked ==''" src="https://www.loc.gov/static/images/original-format/playlists.png"
            width="100px" height="100px" style="border: 2px solid rgb(0, 0, 0);">
          </div>
          
          <input type="file" accept="image/*" (change)="handleFileInput($event)"
            formControlName="image" class="form-control"
            >
          <!-- <div *ngIf="editted && fedit.image.errors" class="invalid-feedback">
  
            <div *ngIf="fedit.image.errors.required">
              Chọn 1 ảnh
            </div>
  
  
          </div> -->
  
        </div>

        <div class="form-group">
          <label for="name">Tên playlist</label>
          <input type="name" formControlName="nameEdit" class="form-control"
            [ngClass]="{ 'is-invalid': editted && fedit.nameEdit.errors }" />
          <div *ngIf="editted && fedit.nameEdit.errors" class="invalid-feedback">
            <div *ngIf="fedit.nameEdit.errors.required">Tên không được bỏ trống</div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Mô tả ngắn</label>
          <textarea type="text" formControlName="descriptionEdit" class="form-control"
            [ngClass]="{ 'is-invalid': editted && fedit.descriptionEdit.errors }" required minlength="10"></textarea>
          <div *ngIf="editted && fedit.descriptionEdit.errors" class="invalid-feedback">

            <div *ngIf="fedit.descriptionEdit.errors.required">
              Mô tả không được bỏ trống
            </div>
            <div *ngIf="fedit.descriptionEdit.errors.minlength">
              Mô tả phải trên 10 kí tự
            </div>

          </div>
        </div>
       
        <button [disabled]="loading" class="btn btn-outline-info" style="margin-top: 10px;">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Sửa
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </div>
  </nb-card>
</ng-template>