<nb-card>
    <nb-card-header>Tạo mới bài hát</nb-card-header>
    <nb-card-body>
        <mat-horizontal-stepper linear #stepper>
            <mat-step>
                <form class="firstFormGroup">
                    <ng-template matStepLabel>Tạo bài hát</ng-template>
                    <div class="row justify-content-center" style="width: 100%;">
                        <div class="col-4">
                            <!-- Select File -->
                            <mat-label for="input">Ảnh bìa</mat-label>
                            <input #fileImg type="file" accept="image/*" (change)="onChangeThumbnail($event)" style="display: none;" />
                            <!-- Image Preview -->
                            <div class="border border-pwrimary rounded con-img d-flex justify-content-center"
                                (click)="fileImg.click()">
                                <div *ngIf="thumbnailUrl==null" class="align-self-center">
                                    <mat-icon style="cursor: pointer;" aria-hidden="false" aria-label="">edit_note
                                    </mat-icon>
                                </div>
                                <img *ngIf="thumbnailUrl!==null" [src]="thumbnailUrl" class="imagePreview">
                            </div>

                            <mat-label>Tên bài hát:</mat-label>
                            <input type="text" fullWidth nbInput [(ngModel)]="song.name" name="name" placeholder="Sóng gió">

                            <mat-label>Mô tả:</mat-label>
                            <textarea nbInput fullWidth [(ngModel)]="song.description" name="description" placeholder="Nghe rất phiêu..."></textarea>
                            <div style="float: right;">
                                <mat-label>Loại: </mat-label>
                                <nb-select [selected]=true [(ngModel)]="song.isOfficial" name="isOfficial">
                                    <nb-option value=true>Offical</nb-option>
                                    <nb-option value=false>Cover</nb-option>
                                </nb-select>
                            </div>

                        </div>
                        <div class="col-3">
                            <!-- Select File -->
                            <mat-label for="input">Lyric: </mat-label>
                            <input #fileLyric type="file" accept=".txt" (change)="onChangeLyric($event)" style="display: none;" />
                            <!-- Image Preview -->
                            <div class="border border-pwrimary rounded d-flex justify-content-center"
                                (click)="fileLyric.click()" style="height: 100%;">
                                <div *ngIf="song.lyric==null" class="align-self-center">
                                    <mat-icon style="cursor: pointer;" aria-hidden="false" aria-label="">edit_note
                                    </mat-icon>
                                </div>
                                <textarea *ngIf="song.lyric!==null" nbInput fullWidth [(ngModel)]="lyricContent" name="lyricContent"></textarea>
                                <!-- <img *ngIf="thumbnailUrl!==null" [src]="thumbnailUrl" class="imagePreview"> -->
                            </div>
                        </div>
                        <div class="col-5">
                            <mat-tab-group mat-align-tabs="start">
                                <mat-tab label="128kbs">
                                    <div class="d-flex justify-content-start align-items-center">
                                        <input #file128 type="file" accept="audio/mp3" (change)="onChangeFile128($event)"
                                            style="display: none;" />
                                        <button nbButton status="primary" (click)="file128.click()">
                                            <nb-icon icon="headphones-outline"></nb-icon>
                                        </button>
                                        <div style="margin-left: 3px;">{{song.file128.fileName||'.mp3'}}</div>

    
                                    </div>
                                    <audio #player [src]="file128Url" style="height: 25px;width:100%;margin-top: 5px;" controls></audio>
                                </mat-tab>
                                <mat-tab label="320Kbs">
                                    <div class="d-flex justify-content-start align-items-center">
                                        <input #file320 type="file" accept="audio/mp3" (change)="onChangeFile320($event)"
                                            style="display: none;" />
                                        <button nbButton status="primary" (click)="file128.click()">
                                            <nb-icon icon="headphones-outline"></nb-icon>
                                        </button>
                                        <div style="margin-left: 3px;">{{song.file320.fileName||'.mp3'}}</div>
    
                                    </div>
                                    <audio #player [src]="file320Url" style="height: 25px;width:100%;margin-top: 5px;" controls></audio>
                                </mat-tab>
                                <mat-tab label="Lossless">
                                    <div class="d-flex justify-content-start align-items-center">
                                        <input #fileLossless type="file" accept="audio/mp3" (change)="onChangeFileLossless($event)"
                                            style="display: none;" />
                                        <button nbButton status="primary" (click)="fileLossless.click()">
                                            <nb-icon icon="headphones-outline"></nb-icon>
                                        </button>
                                        <div style="margin-left: 3px;">{{song.fileLossless.fileName||'.mp3'}}</div>

    
                                    </div>
                                    <audio #player [src]="fileLosslessUrl" style="height: 25px;width:100%;margin-top: 5px;" controls></audio>

                                </mat-tab>
                            </mat-tab-group>

                        </div>
                    </div>

                    <div>
                        <button class="btn btn-primary" (click)="onCreate()">Tạo</button>
                    </div>
                </form>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Tag</ng-template>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Chọn ca sĩ/nhạc sĩ</ng-template>
                <mat-tab-group mat-stretch-tabs>
                    <div>type</div>
                </mat-tab-group>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </nb-card-body>
</nb-card>