:host {
  display: flex;
  align-items: center;
  i.control-icon {
    background-color: rgb(1, 154, 224);
    color: beige;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    &::before {
      font-size: 2rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  input {
    text-indent: 10px;
    border: none;
    outline: none;
    width: 28rem;
    height: 36px;
    transition: width 0.2s ease;
    border: 1px solid;
    border-radius: 5px;

  }

  ::ng-deep search-input {
    input {
      background: transparent;
    }
  }
}
