<nb-card>
    <nb-card-header>
        Thử nghiệm mô hình
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-3">


                <div class="">
                    <nb-card>
                        <nb-card-header>
                            <span> Chọn file audio:</span>
                        </nb-card-header>
                        <nb-card-body>
                            <div class=" ">
                                <div class="d-flex justify-content-start align-items-center">
                                    <input #fileAudio type="file" accept="audio/mp3" (change)="changeFileAudio($event)"
                                        style="display: none;" />
                                    <button nbButton status="primary" (click)="fileAudio.click()">
                                        <nb-icon icon="headphones-outline"></nb-icon>
                                    </button>
                                    <div style="margin-left: 3px;">{{this.fileName}}</div>

                                </div>
                                <div class="c">
                                    <ngx-player #player></ngx-player>
                                    <!-- <audio [src]="fileMusic" id="music" style="height: 25px;width:100%;margin-top: 5px;" controls>
                                    </audio> -->
                                </div>
                            </div>
                        </nb-card-body>
                    </nb-card>

                    

                </div>

                <div class="con-input">

                    <nb-card>
                        <nb-card-header>
                            <span> Chọn mô hình:</span>
                        </nb-card-header>
                        <nb-card-body >
                            <div>
                                <div class="">
                                    <nb-select [selected]="listModels[0].no" (selectedChange)="changeModel($event)" style="width: 100%;">
                                        <nb-option *ngFor="let model of listModels" [value]="model.no" [disabled]="!model.isAvailable">{{ model.name }}</nb-option>
                                    </nb-select>
                                </div>
                                <div class="row con-input">
                                    <div class="col-7">
                                        <span>Độ chính xác:</span>
                                    </div>
                                    <div class="col-5">
                                        <span>{{selectedModel.acc}}</span>
                                    </div>                                                              
                                </div>
                                <div class="row con-input">
                                    <div class="col-7">
                                        <span>Loại mạng:</span>
                                    </div>
                                    <div class="col-5">
                                        <span>{{selectedModel.typeNetwork}}</span>
                                    </div>                                                              
                                </div>
                                <div class="row con-input">
                                    <div class="col-7">
                                        <span>Thể loại:</span>
                                    </div>
                                    <div class="col-5">
                                        <span>{{selectedModel.typeMusic}}</span>
                                    </div>                                                              
                                </div>
                                <div class="row con-input">
                                    <div class="col-7">
                                        <span>Số lượng bài train:</span>
                                    </div>
                                    <div class="col-5">
                                        <span>{{selectedModel.totalTrain}}</span>
                                    </div>                                                              
                                </div>
                                <div class="row con-input">
                                    <div class="col-7">
                                        <span>Parameter:</span>
                                    </div>
                                    <div class="col-5">
                                        <span>{{selectedModel.parameters}}</span>
                                    </div>                                                              
                                </div>
                            </div>
                            
                        </nb-card-body>
                    </nb-card>

                </div>

            </div>
            <div class="col-0.5">
                <div style="margin-left: 20%;">{{waitTime.toFixed(1)}}s</div>
                <button nbButton status="primary" style="height: 98%;" [disabled]="!canTest||!selectedModel.no" (click)="onTest()">
                    <nb-icon icon="log-out-outline"></nb-icon>
                </button>
            </div>
            <div class="col-8">
                <ngx-detail-predict-type [resultPredict]="resultPredict" [isLoading]="isLoading" ></ngx-detail-predict-type>


            </div>

        </div>
    </nb-card-body>
</nb-card>