<!-- <nb-card>
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    {{data.name}}
  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="primary" (click)="dismiss()">Dismiss Dialog</button>
  </nb-card-footer>
</nb-card> -->

<div class="container">
  <nb-card >
    <nb-card-header>
      <h4>{{data.name}}</h4>
    </nb-card-header>
    <nb-card-body>      
      <h6>Id: {{data.id}}</h6>
      <h6>Mô tả: {{data.description}}</h6>
      <h6>Ngày tạo: {{data.dateCreate}}</h6>
      <h6>Tổng lượt nghe: {{data.totalListen}}</h6>
      <h6>Số lượt tải: {{data.totalDownload}}</h6>
      <h6>Ca sĩ: {{getSingers()}}</h6>
      <h6>Thể loại: {{getTypes()}}</h6>
      <h6>Tag: {{getTags()}}</h6>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton hero status="primary" (click)="dismiss()">Dismiss Dialog</button>
    </nb-card-footer>
  </nb-card>
</div>

