<ngx-search-input *ngIf="isSearch" (onSearch)=onSearch($event) [placeholderString]=placeholderString>
</ngx-search-input>

<div class="example-loading-shade" *ngIf="isLoading">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>

<mat-table #table [dataSource]="songs.data" class="mat-elevation-z8" matSort matSortActive="id" matSortDisableClear
  matSortDirection="desc">

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="col-max-w-15"> Id </mat-header-cell>
    <mat-cell *matCellDef="let row" class="col-max-w-15"> {{row.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="thumbnail">
    <mat-header-cell *matHeaderCellDef class="col-max-w-15"> {{lang.table.image}} </mat-header-cell>
    <mat-cell *matCellDef="let row" class="col-max-w-15"> <img width="40px" src={{row.thumbnail}}> </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear> {{lang.table.name}} </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="singers">
    <mat-header-cell *matHeaderCellDef> {{lang.table.singers}} </mat-header-cell>
    <mat-cell *matCellDef="let row"> <span *ngFor="let s of row.singers"> {{s.nameSinger}}, </span> </mat-cell>
  </ng-container>


  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef class="col-max-w-15"> {{lang.table.action}} </mat-header-cell>
    <mat-cell *matCellDef="let row" class="col-max-w-15">
      <!-- <mat-icon style="cursor: pointer;" aria-hidden="false" aria-label="" (click)="onClickRow.emit(row.id)">add</mat-icon>
      <div></div> -->
      <mat-icon style="cursor: pointer;" aria-hidden="false" aria-label="">delete</mat-icon>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['id','thumbnail','name','singers','action']">
  </mat-header-row>
  <mat-row *matRowDef="let row; columns: ['id','thumbnail','name','singers','action']">
  </mat-row>
</mat-table>
<h3 class="text-center" *ngIf="songs.data.length === 0">No records found</h3>
<mat-paginator [length]="songs.totalItem" [pageSize]="songs.pageSize" [pageIndex]="songs.index"
  [pageSizeOptions]="[5]" (page)="$event; onChangePaginator($event)" showFirstLastButtons>
</mat-paginator>
