@import './themes';

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }
}
.cdk-overlay-container{
  position: unset;
  overflow-y: unset !important;
}
.cdk-global-scrollblock{
  position: unset !important;
  overflow-y: unset !important;
}

.nb-global-scrollblock
{
  position: unset;
  overflow-y: unset !important;
}
// .nb-theme-default nb-layout.with-scroll .scrollable-container {
//   overflow: unset !important;
//   height: 100vh;  
//   display: block;
// }
// body{
//   overflow: auto !important;
// }