.col-max-w-8
{
    max-width: 8%;
}
.col-max-w-10
{
    max-width: 10%;
}
.col-max-w-20
{
    max-width: 20%;
}
.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }