<nb-card>
    <nb-card-header>
        Thông số máy chủ
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-4">
                Server Name:
            </div>
            <div class="col-8">
                Acer F5-573G
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                CPU:
            </div>
            <div class="col-8">
                Core i5-7200U 2.4GHz
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                GPU:
            </div>
            <div class="col-8">
                NVIDIA 940Mx
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                RAM:
            </div>
            <div class="col-8">
                16000MB
            </div>
        </div>
    </nb-card-body>
</nb-card>
