<nb-card>
  <nb-card-header>
    Quản lí người dùng
  </nb-card-header>

  <nb-card-body>
    <div class="horizontal-form" autocomplete="off" style="padding: 0 15px; margin-top: 15px;">
      <div class="m-form m-form--label-align-right">
        <div class="row align-items-center m--margin-bottom-10">
          <div class="col-xl-12">
            <div class="form-group m-form__group align-items-center">
              <div class="input-group">

                <b style="display: flex; align-items: center; margin-left: -20px;"></b>
                <input nbInput class="search-input" style="margin-left: 10px;width: 100%;" type="text" autoFocus
                  placeholder="ID hoặc tên Account..." name="Keyword" [(ngModel)]="Keyword">
                <span style="width: 10px"></span>

                <span style="width: 10px"></span>
                <span class="input-group-btn">
                  <button (click)="onSearch()" class="btn btn-outline-info">Tìm <i class="fa fa-search"></i></button>
                  <button (click)="onAddNew(dialogAddAccount)" style="margin-left: 20px;"
                    class="btn btn-outline-info">Tạo
                    mới <i class="fa fa-plus"></i></button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng2-smart-table #tableAccount class="table-song" [settings]="settings" [source]="source"
      (userRowSelect)="onRowSelect($event)"
      (edit)="onOpenEdit($event,dialogEditAccount)" (delete)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>


<ng-template class="col-md-12" #dialogAddAccount let-data let-ref="dialogRef">

  <nb-card class="container-form-account">
    <h4 class="card-header">Tạo mới Account</h4>
    <div class="card-body">
      <form [formGroup]="addAccountForm" (ngSubmit)="onSubmit()">
        <div class="form-group-aa">
          <div style="margin-left: 20px;">Ảnh bìa</div>
          <div class="row" style="margin-left: 20px; margin-bottom: 20px;">
            <div>

              <div style="margin: 5px 0 5px 0;">
                <img *ngIf="urlPicked !==null" src="{{urlPicked}}" width="100px" height="100px"
                  style="border: 2px solid rgb(0, 0, 0);">
                <img *ngIf="urlPicked ===null"
                  src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png" width="100px"
                  height="100px" style="border: 2px solid rgb(0, 0, 0);">
              </div>
            </div>

            <div>
              <input style="border-radius: 3px; border: 0px;" type="file" accept="image/*"
                (change)="handleFileInput($event)" formControlName="image" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.image.errors }" required>
              <div *ngIf="submitted && f.image.errors">
                <div *ngIf="f.image.errors.required" style="color: red;margin-left: 10px;">
                  Chọn 1 ảnh
                </div>
              </div>
            </div>
          </div>


        </div>

        <div class="container-form col-md-12 row">
          <div class="col-md-6">

            <div class="form-group">
              <label for="firstName">Họ</label>
              <input type="name" formControlName="firstName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">Tên không được bỏ trống</div>
              </div>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email không được bỏ trống</div>
              </div>
            </div>

            <div class="form-group">
              <label for="user">Username</label>
              <input type="name" formControlName="user" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.user.errors }" />
              <div *ngIf="submitted && f.user.errors" class="invalid-feedback">
                <div *ngIf="f.user.errors.required">Username không được bỏ trống</div>
              </div>
            </div>

            <div class="form-group">
              <label for="dob">Ngày sinh</label>
              <input type="date" formControlName="dob" class="form-control"
                min="1900-01-01" max="2010-01-01" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
              <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                <div *ngIf="f.dob.errors.required">Ngày sinh không được bỏ trống</div>
              </div>
            </div>

          </div>
          <div class="col-md-6">


            <div class="form-group">
              <label for="lastName">Tên</label>
              <input type="name" formControlName="lastName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Tên không được bỏ trống</div>
              </div>
            </div>


            <div class="form-group">
              <label for="phoneNumber">SĐT</label>
              <input type="number" formControlName="phoneNumber" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
              <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                <div *ngIf="f.phoneNumber.errors.required">SĐT không được bỏ trống</div>
              </div>
            </div>
        

            <div class="form-group">
              <label for="password">Mật khẩu</label>
              <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Mật khẩu không được bỏ trống</div>
              </div>
            </div>

          </div>

        </div>

        <button [disabled]="loading" class="btn btn-outline-info" style="margin-top: 10px;">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Tạo mới
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </div>
  </nb-card>
</ng-template>


<ng-template class="col-md-12" #dialogEditAccount let-data let-ref="dialogRef">
  <nb-card class="container-form-account">
    <h4 class="card-header">Sửa tài khoản</h4>
    <div class="card-body">
      <form [formGroup]="editAccountForm" (ngSubmit)="onSubmitEdit()">
        <div class="form-group-aa">
          <div style="margin-left: 20px;">Ảnh bìa</div>
          <div class="row" style="margin-left: 20px; margin-bottom: 20px;">
            <div>

              <div style="margin: 5px 0 5px 0;">
                <img *ngIf="urlPicked !==null" src="{{urlPicked}}" width="120px" height="120px"
                  style="border: 2px solid rgb(0, 0, 0);">
                <img *ngIf="urlPicked ===null"
                  src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png" width="120px"
                  height="120px" style="border: 2px solid rgb(0, 0, 0);">
              </div>
            </div>

            <div style="margin-left: 20px;">
              <input style="border-radius: 3px; border: 0px;" type="file" accept="image/*"
                (change)="handleFileInput($event)" formControlName="image" class="form-control">
              <!-- <div *ngIf="editted && fedit.image.errors" class="invalid-feedback">
                <div *ngIf="fedit.image.errors.required">
                  Chọn 1 ảnh
                </div>
              </div> -->
              <div class="form-group" style="margin-top: 15px;">
                <label for="id">ID tài khoản</label>
                <input width="110%" type="text" disabled formControlName="id" class="form-control"/>         
              </div>
            </div>
            
          </div>


        </div>

        <div class="container-form col-md-12 row">
          <div class="col-md-6">

            <div class="form-group">
              <label for="firstName">Họ</label>
              <input type="name" formControlName="firstName" class="form-control"
                [ngClass]="{ 'is-invalid': editted && fedit.firstName.errors }" />
              <div *ngIf="editted && fedit.firstName.errors" class="invalid-feedback">
                <div *ngIf="fedit.firstName.errors.required">Tên không được bỏ trống</div>
              </div>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': editted && fedit.email.errors }" />
              <div *ngIf="editted && fedit.email.errors" class="invalid-feedback">
                <div *ngIf="fedit.email.errors.required">Email không được bỏ trống</div>
              </div>
            </div>

            <div class="form-group">
              <label for="user">Username</label>
              <input disabled type="name" formControlName="user" class="form-control"
                [ngClass]="{ 'is-invalid': editted && fedit.user.errors }" />
              <div *ngIf="editted && fedit.user.errors" class="invalid-feedback">
                <div *ngIf="fedit.user.errors.required">Username không được bỏ trống</div>
              </div>
            </div>

            <div class="form-group">
              <label for="dob">Ngày sinh</label>
              <input type="date" formControlName="dob" class="form-control"
                min="1900-01-01" max="2010-01-01" [ngClass]="{ 'is-invalid': editted && fedit.dob.errors }" />
              <div *ngIf="editted && fedit.dob.errors" class="invalid-feedback">
                <div *ngIf="fedit.dob.errors.required">Ngày sinh không được bỏ trống</div>
              </div>
            </div>

          </div>
          <div class="col-md-6">


            <div class="form-group">
              <label for="lastName">Tên</label>
              <input type="name" formControlName="lastName" class="form-control"
                [ngClass]="{ 'is-invalid': editted && fedit.lastName.errors }" />
              <div *ngIf="editted && fedit.lastName.errors" class="invalid-feedback">
                <div *ngIf="fedit.lastName.errors.required">Tên không được bỏ trống</div>
              </div>
            </div>


            <div class="form-group">
              <label for="phoneNumber">SĐT</label>
              <input type="number" formControlName="phoneNumber" class="form-control"
                [ngClass]="{ 'is-invalid': editted && fedit.phoneNumber.errors }" />
              <div *ngIf="editted && fedit.phoneNumber.errors" class="invalid-feedback">
                <div *ngIf="fedit.phoneNumber.errors.required">SĐT không được bỏ trống</div>
              </div>
            </div>
        

            <div class="form-group">
              <label for="role">Phân quyền</label>
              <select class="form-control" formControlName="role">
                <option value="admin" >
                  Admin
                </option>
                <option value="user" >
                  User
                </option>
                <option value="singer">
                  Singer
                </option>
                <option value="author">
                  Author
                </option>
              </select>
            </div>

          </div>

        </div>

        <button [disabled]="loading" class="btn btn-outline-info" style="margin-top: 10px;">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Cập nhật
        </button>

        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </div>
  </nb-card>
</ng-template>