<ngx-search-input (onSearch)=onSearch($event) [placeholderString]=placeholderString>
</ngx-search-input>

<div class="example-loading-shade" *ngIf="isLoading">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>

<mat-table #table [dataSource]="dataSource.data" class="mat-elevation-z8" matSort matSortActive="id" matSortDisableClear
  matSortDirection="desc">

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="col-max-w-8"> Id </mat-header-cell>
    <mat-cell *matCellDef="let row" class="col-max-w-8"> {{row.id}} </mat-cell>
  </ng-container>

  <ng-container *ngIf='inputColumns.includes("thumbnail")' matColumnDef="thumbnail">
    <mat-header-cell *matHeaderCellDef class="col-max-w-8"> {{lang.table.image}} </mat-header-cell>
    <mat-cell *matCellDef="let row" class="col-max-w-8"> <img class="img-responsive" height="40px" src={{row.thumbnail}}> </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear> {{lang.table.name}} </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
  </ng-container>

  <ng-container *ngIf="inputColumns.includes('duration')" matColumnDef="duration">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="col-max-w-8"> {{lang.table.duration}}
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="col-max-w-8"> {{row.duration}} </mat-cell>
  </ng-container>

  <ng-container *ngIf="inputColumns.includes('totalSong')" matColumnDef="totalSong">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="col-max-w-8"> {{lang.table.totalSong}}
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="col-max-w-8"> {{row.totalSong}} </mat-cell>
  </ng-container>

  <ng-container *ngIf="inputColumns.includes('singers')" matColumnDef="singers">
    <mat-header-cell *matHeaderCellDef> {{lang.table.singers}} </mat-header-cell>
    <mat-cell *matCellDef="let row"> <span *ngFor="let s of row.singers"> {{s.nameSinger}}, </span> </mat-cell>
  </ng-container>

  <ng-container *ngIf="inputColumns.includes('owner')" matColumnDef="owner">
    <mat-header-cell *matHeaderCellDef> {{lang.table.owner}} </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.owner.nameOwner}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="dateCreate">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear> {{lang.table.dateCreate}}</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.dateCreate.slice(0,10)}} </mat-cell>
  </ng-container>

  <ng-container *ngIf="inputColumns.includes('action')" matColumnDef="action">
    <mat-header-cell *matHeaderCellDef class="col-max-w-15"> {{lang.table.action}} </mat-header-cell>
    <mat-cell class="text-center" *matCellDef="let row" class="col-max-w-15">
      <mat-icon style="cursor: pointer;" aria-hidden="false" aria-label="Edit" (click)="onClickRow.emit(row.id)">edit_note</mat-icon>
      <div></div>
      <mat-icon *ngIf="typeTable!='delete'" style="cursor: pointer;" aria-hidden="false" aria-label="Delete" (click)="onDelete(row.id)">delete</mat-icon>
      <div></div>
      <mat-icon *ngIf="typeTable=='delete'"  style="cursor: pointer;" aria-hidden="false" aria-label="UnDelete" (click)="onUnDelete(row.id)">restart_alt</mat-icon>
      <div></div>
      <mat-icon *ngIf="typeTable=='delete'" style="cursor: pointer;" aria-hidden="false" aria-label="Delete" (click)="onStrongDelete(row.id)">delete_forever</mat-icon>

    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef=inputColumns>
  </mat-header-row>
  <mat-row *matRowDef="let row; columns: inputColumns;">
  </mat-row>
</mat-table>
<ng-container *ngIf="dataSource.data.length === 0">
  <h2 class="text-center mt-5"><nb-icon icon="file-remove-outline"></nb-icon> No data</h2>
</ng-container>

<mat-paginator [length]="dataSource.totalItem" [pageSize]="dataSource.pageSize" [pageIndex]="dataSource.index"
  [pageSizeOptions]="[5,10,15,20]" (page)="$event; onChangePaginator($event)" showFirstLastButtons>
</mat-paginator>