<nb-card size="medium">
  <nb-card-header>
    <h3>Thống kê độ người dùng</h3>
    <!-- <div class="subtitle">Consumption</div> -->
  </nb-card-header>
  <nb-card-body>
    <div class="chart-container">
      <div class="chart-header">
        <ngx-legend-chart [legendItems]="chartLegend"></ngx-legend-chart>
      </div>
      <ngx-visitors-analytics-chart></ngx-visitors-analytics-chart>
    </div>
  </nb-card-body>

  <ngx-slide-out [showVisitorsStatistics]="true">
    <ngx-visitors-statistics></ngx-visitors-statistics>
  </ngx-slide-out>
</nb-card>
